# GoLand IDE
.idea

# Python tests
venv

# Go files for development / debugging.
go.work
go.work.sum
*.test

# Jupyter tmp files
.ipynb_checkpoints
Untitled.ipynb

bazel-bin
bazel-c
bazel-out
bazel-mnt
bazel-testlogs

# VSCode files
.Trash*
gomlx.code-workspace

# Links to C-generated code.
c/.cache
.cache
bazel-bin
c/bazel-c
c/bazel-out
c/bazel-mnt
c/bazel-testlogs
