# GoLand IDE
.idea

# Python tests
venv

# Go files for development / debugging.
go.work
go.work.sum
*.test

# Jupyter tmp files
.ipynb_checkpoints
Untitled.ipynb

# Links to C-generated code.
bazel-bin
bazel-c
bazel-out
bazel-mnt
bazel-testlogs
gomlx_xla.tar.gz

# VSCode files
.Trash*
gomlx.code-workspace
.vscode/launch.json
.vscode/settings.json
codebook.toml
